[submodule "content/bibli"]
	path = content/bibli
	url = https://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@github.com/frdid/bibli.git
[submodule "content/main"]
	path = content/main
	url = https://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@github.com/frdid/sb-main.git
