@use "./base.scss";

// put your custom CSS here!

// Scroll bar
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}


// Footnotes
.footnotes {
  & h2{
    text-indent: -9999px;
    &:before {
      content: "Catatan Kaki";
      text-indent: 0;
      float: left;
      font-size: 1.4rem;
      font-weight: 800;
    }
  }
}